
<footer th:fragment="footer">

    <link rel="stylesheet" th:href="@{/css/general.css}" />
    <link rel="stylesheet" th:href="@{/css/footer.css}" />

    <div class='container'>
        <div class='row'>
            <div class='col-md-12'>
                <ul>
                    <li><a href='#'>Terms</a></li>
                    <li><a href='#'>Privacy</a></li>
                    <li><a href='#'>Contact</a></li>
                    <li><a href='https://www.youtube.com/watch?v=vHwKTOzLTDY'>Rift</a></li>
                    <p>&copy; Copyright 2025</p>
                </ul>
            </div>
        </div>
    </div>
</footer>
