<footer th:fragment="footer" class="footer">

   <!-- <link rel="stylesheet" th:href="@{/css/general.css}" />-->
    <link rel="stylesheet" th:href="@{/css/footer.css}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>

<div class="footer-basic">
        <div class="social">
            <a href="https://github.com/smbarber2"><i class="icon ion-social-github"></i> S</a>
            <a href="https://github.com/nhildret"><i class="icon ion-social-github"></i> N</a>
            <a href="https://github.com/jenniferxgt"><i class="icon ion-social-github"></i> J</a>
            <a href="https://github.com/Kol-H"><i class="icon ion-social-github"></i> K</a>
        </div>
        <ul class="list-inline">
            <li class="list-inline-item"><a th:href="@{/}">Home</a></li>
            <li class="list-inline-item"><a th:href="@{/leaderboard}">Leaderboard</a></li>
            <li class="list-inline-item"><a th:href="@{/events/all}">Events</a></li>
            <li class="list-inline-item"><a th:href="@{/donate}">Donations</a></li>
            <li class="list-inline-item"><a th:href="@{/about}">Contact</a></li>
            <li class="list-inline-item"><a th:href="@{/admin}">Admin</a></li>
        </ul>
</footer>


<!-- credit to https://epicbootstrap.com/snippets/footer-basic -->