<header th:fragment="header">
    <!-- Use th:href to link CSS files properly -->
    <link rel="stylesheet" th:href="@{/css/general.css}" />
    <link rel="stylesheet" th:href="@{/css/header.css}" />
    <!-- Tab icon -->
    <link rel = "icon" type = "image/png" th:href="@{/images/bee_logo.png}">
    <!-- For apple devices -->
    <link rel = "apple-touch-icon" type = "image/png" th:href="@{/images/bee_logo.png}"/>

    <nav>
        <ul>
            <!-- Update links to use th:href for Thymeleaf resolution -->
            <li class="dropdown">
                <a class="dropdown-head">Leaderboard</a>
                <div class="dropdown-content">
                    <a th:href="@{/leaderboard/hours}">Volunteer Hours</a>
                    <a th:href="@{/leaderboard/donations}">Donations</a>
                </div>
            </li>
            <li class="dropdown">
                <a class="dropdown-head">Services</a>
                <div class="dropdown-content">
                    <a th:href="@{/events/all}">Events</a>
                    <a th:href="@{/donate}">Donate</a>
                    <a th:href="@{/organizations/all}">Organizations</a>
                    <a th:href="@{/maps}">Map</a>
                </div>
            </li>
        </ul>

        <!-- Use th:src to link the logo image properly -->
        <!--<a href="https://www.youtube.com/watch?v=J7PFwHVYVUU">-->
        <a th:href="@{/}">
            <img th:src="@{/images/bee_logo.png}" alt="Placeholder Image" />
        </a>

        <ul>
            <!-- Update links for Contact and Account pages -->
            <li><a th:href="@{/about}">Contact</a></li>
            <li><a th:href="@{/user}">Account</a></li>
        </ul>
    </nav>
</header>
