<header th:fragment="header">
    <!-- Use th:href to link CSS files properly -->
    <link rel="stylesheet" th:href="@{/css/general.css}" />
    <link rel="stylesheet" th:href="@{/css/header.css}" />

    <nav>
        <ul>
            <!-- Update links to use th:href for Thymeleaf resolution -->
            <li><a th:href="@{/leaderboard}">Leaderboards</a></li>
            <li class="dropdown">
                <a class="dropdown-head">Services</a>
                <div class="dropdown-content">
                    <a th:href="@{/events}">Events</a>
                    <a th:href="@{/donate}">Donations</a>
                </div>
            </li>
        </ul>

        <!-- Use th:src to link the logo image properly -->
        <!--<a href="https://www.youtube.com/watch?v=J7PFwHVYVUU">-->
        <a th:href="@{/}">
            <img th:src="@{/images/bee_logo.png}" alt="Placeholder Image" />
        </a>

        <ul>
            <!-- Update links for Contact and Account pages -->
            <li><a th:href="@{/about}">Contact</a></li>
            <li><a th:href="@{/user}">Account</a></li>
        </ul>
    </nav>
</header>
