
body {
    background-color: var(--body);
    background-image:url('/images/static_background/bg_top.PNG'), url('/images/static_background/bg_middle.PNG'), url('/images/static_background/bg_bottom.PNG');
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-size: cover;

}

/*.image-container {
    width: 200px;
    height: auto;
    margin-right: 2rem;
}*/

.info-container {
    background-color: #FBD4A0;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 80%;
    margin: 0 auto 2rem auto;
    border-radius: 50px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    font-size: 26px;
    font-family: "American Typewriter", serif;
}

.info-container img {
    width: 200px;
        height: auto;
        margin-right: 2rem;
}

h1 {
    font-family: "American Typewriter", serif;
    color: #f6b852; /* Text color */
    text-shadow: rgb(0, 0, 0) 2px 0px 0px, rgb(0, 0, 0) 1.75517px 0.958851px 0px, rgb(0, 0, 0) 1.0806px 1.68294px 0px, rgb(0, 0, 0) 0.141474px 1.99499px 0px, rgb(0, 0, 0) -0.832294px 1.81859px 0px, rgb(0, 0, 0) -1.60229px 1.19694px 0px, rgb(0, 0, 0) -1.97998px 0.28224px 0px, rgb(0, 0, 0) -1.87291px -0.701566px 0px, rgb(0, 0, 0) -1.30729px -1.5136px 0px, rgb(0, 0, 0) -0.421592px -1.95506px 0px, rgb(0, 0, 0) 0.567324px -1.91785px 0px, rgb(0, 0, 0) 1.41734px -1.41108px 0px, rgb(0, 0, 0) 1.92034px -0.558831px 0px;
    margin: 1rem 0;
    text-align: center;
    font-size: 72px;
}

/* Special Image Container */
.special-info-container {
    background-color: #FBD4A0;
    padding: 2rem;
    width: 80%;
    margin: 0 auto 2rem auto;
    border-radius: 50px;
    box-shadow: 0 4px 15px rgba(89, 64, 35, 0.15);
    font-family: "Cutive", serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.special-info-container .text-content {
    width: 100%;
    text-align: center;
    margin-bottom: 1.5rem;
}

.special-info-container h2 {
    color: #000;
    font-size: 2.2rem;
    margin-bottom: 1rem;
    text-shadow: none;
    font-weight: bold;
}

.special-info-container img {
    width: 100%;
    max-width: 1000;
    height: auto;
    border-radius: 30px;
    box-shadow: 0 2px 8px rgba(89, 64, 35, 0.2);
    object-fit: contain;
}

.special-info-container {
    font-size: 26px;
}

@media (max-width: 768px) {
    .special-info-container {
        width: 90%;
        padding: 1.5rem;
    }
    
    .special-info-container h2 {
        font-size: 1.8rem;
    }
    
    .special-info-container img {
        max-width: 100%;
    }
}