body{
    background-image:url('/images/static_background/bg_top.PNG'), url('/images/static_background/bg_middle.PNG'), url('/images/static_background/bg_bottom.PNG');
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh !important;
}

/* main{
    min-height: 80%;
} */

/* causes */
.filter-container {
    width: 80%;
    display: flex;
    flex-direction: column !important;
}
.cause-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    font-size: large;
}
.cause-container > label {
    width: max-content;
    margin-left: 20px;
}
#filterBtn {
    width: fit-content !important;
    padding: 10px 20px 5px 20px;
    align-self: center;
    }

/* holds cards */
.card-container {
    width: 80%;
    margin-inline: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 1rem;
}

/* donate cards */
.card {
    display: flex;
    flex-direction: column;
    width: 325px;
    height: fit-content;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 4px 4px 6px var(--shadow);
    background-color: var(--card);
    position: relative; /* For positioning the button */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition */
}
.card:hover {
    transform: translateY(-10px); /* Move the card up slightly */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Add a stronger shadow */
}
.card h2 {
    margin-block: 1rem;
    font-family: "cutive", serif;
    font-size: 18px;
}
.card-img {
    margin-inline: auto;
    align-self: center;
    width: 100%; /* Make the image fill the card width */
    min-height: 150px;
    max-height: 200px;
    padding: 0;
    object-fit: cover;
    object-position: center;
    object-fit: cover; /* Ensure the image covers the area without distortion */
    border-radius: 10px; /* Match the card's border radius */
    margin-bottom: 15px; /* Space between image and title */
}
.card p {
    font-size: larger;
    display: block;
    width: 100%;
    padding-right:10px;
    line-height: 20px;
    max-height: 80px;
    overflow:hidden;
    text-overflow: ellipsis;
}
.card button {
    margin-inline: auto;
    width: fit-content;
    height:fit-content;
    font-size: medium;
    border-radius: 10px;
    border-color: #F4CA8B;
    background-color: #F4CA8B;
    font-weight: bold;
    padding: 10px;
  font-family: cutive;
}


/* modal */
#modal-space {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.6); /* Black w/ opacity */
}
#modal {
    /* positioning and sizing */
    position: fixed;
    z-index: 1;
    left: 25%;
    top: 10%;
    width:50%;
    min-height:40%;
    max-height: 85%;

    /* layout */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;

    /* aesthetic */
    border-radius: 10px;
    background-color: var(--body);
    padding:1rem 3rem;
    overflow: auto;
}
#modal h1 {
    font-family: "Cutive", serif;
    color: #000;
    text-shadow: none;
    font-weight: bold;
    font-size: 40px;
    text-align: center;

}
#modal img {
    margin: auto;
    align-self: center;
    border-radius: 10px;
    margin:0 18px 10px 0;
    object-fit: cover;
    object-position: center;
    float:left;
}
#modal p {
    width:90%;
    font-size: larger;
    text-align: center;
    margin-inline: auto;
    font-family: Arial, sans-serif;
    /* font-size: 22px;
    line-height: 32px; */
}
.card-details {
    margin-inline: auto;
    display:flex;
    flex-direction: column;
    align-items: center;
}
#modal button {
    align-self: center;
    line-height: 0;
    width: fit-content;
    min-height:4rem;
    font-size: 2rem;
    border-radius: 10px;
    border-color: var(--header);
    background-color: var(--header);
    font-weight: bold;
    padding:20px 15px 10px 15px;
    font-family: "Cutive", serif;
    margin-bottom:1.5rem;
}
#org-id {
    display: none;
}
#donate-amt-container{
    display:flex;
    flex-direction: column;
    margin-bottom: 1rem;
}
.form-control-container {
    display:flex;
    flex-direction: row;
    align-items: center;
}
#recurring {
    margin-top:0;
    vertical-align: middle;
} #recurring + label{
    font-size: small;
    margin-top: .5em;
    margin-left: .5em;
}
#donate-amt{
    margin-inline: 0.5rem 1rem;
}
.form-control {
    font-family: "Cutive", serif;
    margin-bottom: 0.5rem;
}
.filter-container {
    display:flex;
    flex-direction: row;
}
.filter > input {
    max-width:20%;
}
#modal-causes-container {
    align-self: flex-start;
    margin-left: 4.5rem;
}