body{
    background-image:url('/images/static_background/bg_top.PNG'), url('/images/static_background/bg_middle.PNG'), url('/images/static_background/bg_bottom.PNG');
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

main{
    min-height: 62%;
    overflow-y: scroll;
}

.message {
    overflow:visible;
    font-size: larger;
    text-align: center;
    font-family: "Cutive", serif;
    }

/* holds cards */
.card-container {
    width: 80%;
    height:70vh;
    margin-inline: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* donate cards */
.card {
    display:flex;
    flex-direction: column;
    align-content:space-evenly;
    text-align: center;
    margin-inline:auto;
    margin-block: 1rem;
    width: 300px;
    height:fit-content;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 4px 4px 6px var(--shadow);
    background-color: var(--card);
}
.card h2 {
    margin-block: 1rem;
    font-family: "cutive", serif;
    font-size: 18px;
}
.card-img {
    margin-inline: auto;
    align-self: center;
    border-radius: 10px;
    width: 200px;
    max-height: 200px;
    padding: 0;
    object-fit: cover;
    object-position: center;
}
.card p {
    font-size: larger;
    display: block;
    width: 100%;
    padding-right:10px;
    line-height: 20px;
    max-height: 80px;
    overflow:hidden;
    text-overflow: ellipsis;
}
.card button {
    margin-inline: auto;
    width: fit-content;
    height:fit-content;
    font-size: medium;
    border-radius: 10px;
    border-color: var(--header);
    background-color: var(--header);
    font-weight: bold;
    padding: 10px;
  font-family: cutive;
}


/* modal */
#modal-space {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.6); /* Black w/ opacity */
}
#modal {
    /* positioning and sizing */
    position: fixed;
    z-index: 1;
    left: 20%;
    top: 5%;
    width: 60%;
    height: 85%;

    /* layout */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;

    /* aesthetic */
    border-radius: 10px;
    background-color: var(--body);
    padding:1rem 3rem;
    overflow: auto;
}
#modal h1 {
    font-family: "Cutive", serif;
    font-size: 40px;
    text-align: center;
}
#modal img {
    margin: auto;
    align-self: center;
    border-radius: 10px;
    margin:0 18px 10px 0;
    object-fit: cover;
    object-position: center;
    float:left;
}
#modal p {
    width:90%;
    font-size: larger;
    text-align: center;
    margin-inline: auto;
    font-family: Arial, sans-serif;
    /* font-size: 22px;
    line-height: 32px; */
}
.card-details {
    margin-inline: auto;
    display:flex;
    flex-direction: column;
    align-items: center;
}
#modal .donate-form {
    width:45%;
    height:fit-content;
    font-size:larger;
    background-color: var(--header);
    margin-inline: auto;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding:15px;
    margin-bottom:1.5rem;
    border-radius: 10px;
    font-family: "Cutive", serif;
}
#modal .donate-form button {
    width: 120px;
    height:50px;
    font-size: large;
    border-radius: 10px;
    border-color: var(--header);
    background-color: var(--header);
    font-weight: bold;
    padding:15px;
    font-family: "Cutive", serif;
}
#org-id {
    display: none;
}
#donate-amt-container{
    display:flex;
    flex-direction: column;
    margin-bottom: 1rem;
}
.form-control-container {
    display:flex;
    flex-direction: row;
    align-items: center;
}
#recurring {
    margin-top:0;
    vertical-align: middle;
} #recurring + label{
    font-size: small;
    margin-top: .5em;
    margin-left: .5em;
}
#donate-amt{
    margin-inline: 0.5rem 1rem;
}
.form-control {
    font-family: "Cutive", serif;
    margin-bottom: 0.5rem;
}
.filter-container {
    display:flex;
    flex-direction: row;
}
.filter > input {
    max-width:20%;
}
#modal-causes-container {
    align-self: flex-start;
    margin-left: 4.5rem;
}