/* holds cards */
.event-container {
    width: 80%;
    margin-inline: auto;
    display: flex;
    flex-wrap: wrap;
}


/* event cards */
.event {
    display:flex;
    flex-direction: column;
    align-content:center;
    text-align: center;
    margin-inline:auto;
    margin-block: 1rem;
    width: 300px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 3px 3px 6px var(--text);
    background-color: var(--card);
}
.event h2 {
    font-family: "Cutive", serif;
    font-size: 30px;
}
.event-img {
    margin: auto;
    align-self: center;
    border-radius: 10px;
    width: 200px;
    max-height: 200px;
    padding: 0;
    object-fit: cover;
    object-position: center;
}
p {
    font-size: larger;
    display: block;
    width: 100%;
    padding-right:10px;
    line-height: 20px;
    max-height: 80px;
    overflow:hidden;
    text-overflow: ellipsis;
}

#modal-space {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.6); /* Black w/ opacity */
}
#modal {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 5%;
    top: 5%;
    width: 90%;
    height: 90%;
    overflow: auto; /* Enable scroll if needed */
    background-color: var(--body);
    border-radius: 10px;
    padding:1rem;

    display: flex;
    flex-direction: column;
}
#modal h1 {
    font-family: "Cutive", serif;
    font-size: 40px;
    text-align: center;
}
#modal p {
    font-size: larger;
}
#modal button {
    width: 120px;
    height:50px;
    font-size: large;
    border-radius: 10px;
    border-color: var(--header);
    background-color: var(--header);
    font-weight: bold;
    padding:15px;
    float: right;
    align-self: center;
}

#header a {
    float: right;
}