:root {
    --body: #fdead1;
    --header: #ffd18b;
    --shadow: rgba(0, 0, 0, 0.1);
    --text: #736e68;
    --card: #EEC175;
}
/* General resets */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body and overall layout */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: var(--body);
}

.left{
    float:left;
}
.right{
    float:right;
}