<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Organization</title>
    <link href="https://fonts.googleapis.com/css2?family=Cutive&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@100..800&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{/css/organization.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/landing-page.css}">
</head>
<body>

</body>
</html>