<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Organization Details</title>
    <link href="https://fonts.googleapis.com/css2?family=Cutive&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@100..800&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{/css/organization.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/landing-page.css}">
</head>
<body>
    <!-- Header Fragment -->
    <header th:replace="~{/fragments/header :: header}"></header>
    <main>
        <div class="organization-details-box">
            <!-- Organization Name -->
            <h1 class="organization-details-title" th:text="${organization.organizationName}"></h1>

            <!-- Organization Details -->
            <div class="organization-details-info">
                <p><strong>ID:</strong> <span th:text="${organization.id}"></span></p>
                <p><strong>Registered At:</strong> <span th:text="${organization.registeredAt}"></span></p>
                <p><strong>Address:</strong> <span th:text="${organization.address}"></span></p>
            </div>

            <!-- Back Button to Organizations -->
            <a class="btn-back" th:href="@{/organizations/all}">Back to Organizations</a>

            <!-- Back to Maps  -->
            <a class="btn-back" th:href="@{/maps}">Back to Maps</a>
        </div>
    </main>

    <div th:replace="~{/fragments/chatbot :: chatbot}"></div>

    <!-- Footer Fragment -->
    <footer th:replace="~{/fragments/footer :: footer}"></footer>
</body>
</html>