<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Organizations</title>
    <link href="https://fonts.googleapis.com/css2?family=Cutive&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@100..800&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{/css/organization.css}">
    <script src = "/js/popup.js" defer></script>
</head>
<body>
    <!-- Header Fragment -->
    <header th:replace="~{/fragments/header :: header}"></header>

    <main>
        <section class="button-section">
            <div class="text-container">
                <p id="lat-lon"></p>
                <p class="message">
                    Need help locating organizations? Search using the map <a th:href="@{/maps}">here</a>!
                </p>
            </div>
        </section>

        <!-- Container for Organization cards -->
        <div class="organization-container">
            <div th:each="organization : ${organization_list}" class="organization">
                <!-- Organization Image or Placeholder -->
                <!-- <div th:if="${organization.imagePath == null or organization.imagePath.isEmpty()}" class="image-placeholder"></div>
                <img th:unless="${organization.imagePath == null or organization.imagePath.isEmpty()}" 
                    th:src="@{${organization.imagePath}}" 
                    th:alt="${organization.organizationName}" 
                    class="organization-img"> -->

                <!-- Organization Name -->
                <h2 th:text="${organization.organizationName}"></h2>

                <!-- Organization Details -->
                <div class="organization-details">
                    <p th:text="'ID: ' + ${organization.id}"></p>
                    <p th:text="'Registered At: ' + ${organization.registeredAt}"></p>
                    <p th:text="'Address: ' + ${organization.address}"></p>
                </div>

                <!-- View More Button -->
                <a class="btn-view-more" th:href="@{/organizations/view/{organization_id}(organization_id=${organization.id})}">View More</a>
            </div>
        </div>

        <!-- Create Organization Button -->
        <section class="button-section">
            <div class="text-container">
                <p id="lat-lon"></p>
                <p class="message">
                    Have a cause to share? Create a new organization <a th:href="@{/organizations/new}">here</a>!
                </p>
            </div>
        </section>
    </main>

    <!-- Footer Fragment -->
    <footer th:replace="~{/fragments/footer :: footer}"></footer>

    <script>
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(getOrganizations);
        } else {
            console.log("Geolocation is not supported by this browser.");
        }
        
        function getOrganizations(position) {
            document.getElementById("lat-lon").innerHTML =  
            "Searching for organizations near lat: " + position.coords.latitude +
            " & lon: " + position.coords.longitude;

            //call controller function that calls python method for pledgeAPI
        } 
    </script>
</body>
</html>