<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Access Denied - Helper Hive</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/landing-page.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/403.css}">
    <link href="https://fonts.googleapis.com/css2?family=Cutive&display=swap" rel="stylesheet">
</head>
<body>
    <header th:replace="~{fragments/header :: header}"></header>

    <main class="error-container">
        <div class="text-container error-content">
            <h1>🚫 Access Denied 🚫</h1>
            Sorry, you don't have permission to view this page!
            <h1> </h1>

            <a th:href="@{/}" class="gold-btn">Return to Home</a>
        </div>
    </main>

    &nbsp;

</body>
<footer th:replace="~{fragments/footer :: footer}"></footer>
</html>