<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>About Us</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/about_us.css}"/>
    <!-- <link rel="stylesheet" type="text/css" th:href="@{/css/header.css}"/> -->
    <link
            href="https://fonts.googleapis.com/css2?family=Cutive&display=swap"
            rel="stylesheet"
    />
</head>
<body>

<header th:replace="~{fragments/header :: header}"></header>
<!--<body style="background-color: #fdead1">-->
<main>

<h1>About Us</h1>


<div class="info-container">
    <div class="info-text">
        <h2>Our Motive</h2>
        <p>We wanted to create an application that could have a positive real-world impact, but still be fun and speak to
            us as a group. We all enjoy this type of development (frontend, backend, and database management) and wanted
            something to help hone our respective skills before we graduate!</p>
    </div>
</div>

<div class="info-container">
    <img th:src="@{/images/nat_pfp.png}" alt="Natalie Profile" class="info-img">
    <div class="info-text">
        <h2>Natalie Hildreth</h2>
        <p>Email: nhildreth@uncg.edu</p>
        <p>My name is Natalie, I'm a senior computer science major at UNCG. I'm a beekeeper and I love to draw! Bzzz &#128029 </p>
    </div>
</div>

<div class="info-container">

    <img th:src="@{/images/dog.jpg}" alt="Kol Profile" class="info-img">
    <div class="info-text">
        <h2>Kol Herget</h2>
        <p>Email: arherget@uncg.edu</p>
        <p>My name is Kol Herget and I am a senior computer science major at UNCG. When I'm not coding, I love to garden and crochet. I don't sting, so don't bee afraid to contact me!</p>
    </div>
</div>

<div class="info-container">

    <img th:src="@{/images/jenn_pfp.jpg}" alt="Jennifer Profile" class="info-img">
    <div class="info-text">
        <h2>Jennifer Galicia-Torres</h2>
        <p>Email: j_galiciato@uncg.edu</p>
        <p>Hey everyone, my name is Jennifer Galicia-Torres and I am currently a senior majoring in computer science at UNCG. Fun fact about me, I work as a Spartan guide (I give campus tours) and I love legos. Feel free to contact me!</p>
    </div>
</div>

<!-- Container 4 -->
<div class="info-container">

    <img th:src="@{/images/bonbon.jpg}" alt="Sarah Profile" class="info-img">
    <div class="info-text">
        <h2>Sarah Barber</h2>
        <p>Email: smbarber2@uncg.edu</p>
    <p>Hi! My name is Sarah and I am a Computer Science major with a Data Science concentration. When I'm not programming or working at the esports arena on campus, I'm on tumblr and playing video games!.</p>
    </div>
</div>

<!--Container for the bees-->
<div class="special-info-container">
    <div class="text-content">
        <h2>Meet the real life bees!</h2>
        <p>Natalie's worker bees hard at work!</p>
    </div>
    <img th:src="@{/images/bees2.png}" alt="Beeees" class="info-img">
</div>

</main>

<!--
<div th:replace="~{fragments/chatbot :: chatbot}"></div>
-->

</body>

<footer th:replace="~{fragments/footer :: footer}"></footer>

</html>
