<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Donate</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
            crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link
            href="https://fonts.googleapis.com/css2?family=Cutive&display=swap"
            rel="stylesheet"
        />
        <link href="https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@100..800&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" th:href="@{/css/events.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/css/landing-page.css}"/>
        <link rel="stylesheet" type="text/css" th:href="@{/css/donate.css}"/>
        <script th:src = "@{/js/donate.js}" defer></script>
    </head>
    <header th:replace="~{/fragments/header :: header}"></header>
        <main>
            <h1>Donate to a Good Cause</h1>
            <p class="message">Click an organization to learn more and donate!</p>

            <!-- <div class="filter-container">
                <button id="use-location" type="button" class="btn btn-warning" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Use my location">
                    <i class="fa-solid fa-location-dot"></i>
                </button>
                <div class="form-control-container filter">
                    <label for="zip">Search by ZIP: </label>
                    <input id="zip" type="text" class="form-control form-control-sm" placeholder="zip">
                </div>
                <div class="form-control-container filter">
                    <label for="state">Search by state: </label>
                    <input id="state" type="text" class="form-control form-control-sm" placeholder="state">
                </div>
            </div> -->

            <div class="card-container">
           </div>
           <div id="modal-space">
               <span onclick="document.getElementById('modal-space').style.display='none'" class="close" title="Close Modal">X</span>
               <div id="modal">
                   <div class="card-details">
                        <div id="org-id"></div>
                        <h1 id="modal-title"></h1>
                        <p id="modal-description"></p>
                        <h6>Visit their website <a id="modal-url" target="_blank">here</a>.</h6>
                        <div id="modal-causes-container">
                            <h5>Causes:</h5>
                            <ul id="modal-causes"></ul>
                        </div>
                    </div>

                    <form class="donate-form">
                        <h4>Donate</h4>
                        <div id="donate-amt-container">
                            <div class="form-control-container">
                                <label for="donate-amt">$</label>
                                <input id="donate-amt" class="form-control" type="number" placeholder="0.00">
                            </div>
                            <div class="form-control-container">
                                <input type="checkbox" class="form-check-input" id="recurring">
                                <label for="recurring" class="form-check-label">Donate this amount monthly</label>
                            </div>
                        </div>
                        <br>Credit card info
                        <div>
                            <input class="form-control" type="tel" pattern="\d*" maxlength="19" placeholder="Card Number" required>
                            <input class="form-control" type="tel" pattern="\d*" maxlength="7" placeholder="MM / YY" required>
                            <input class="form-control" type="tel" pattern="\d*" maxlength="4" placeholder="CVC" required>
                        </div>
                        <button type="submit">Donate</button>
                    </form>
                </div>
            </div>
        </main>
    <div th:replace="~{/fragments/chatbot :: chatbot}"></div>

    <footer th:replace="~{/fragments/footer :: footer}"></footer>
    </body>
</html>