<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Events</title>
        <link
            href="https://fonts.googleapis.com/css2?family=Cutive&display=swap"
            rel="stylesheet"
        />
        <link href="https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@100..800&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" th:href="@{/css/events.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/css/landing-page.css}"/>
        <script src = "/js/popup.js" defer></script>
    </head>
    <body>
        <!-- Header Fragment -->
        <header th:replace="~{/fragments/header :: header}"></header>

        <main>
            <section class="button-section">
                <div class="text-container">
                    <p id="lat-lon"></p>
                </div>
            </section>

            <div class="event-container">
                <div class="event">
                    <img class="event-img" src="/images/demo_images/event_demo.png"/> <!-- Either flyers/posters or organization's logo -->
                    <h2 onclick="document.getElementById('modal-space').style.display='block'">Event Name</h2>
                    <p>
                        This is event detail text. Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim minim veniam, 
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu 
                        fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui 
                        officia deserunt mollit anim id est laborum. 
                    </p>
                </div>
            </div>
            <div id="modal-space">
                <span onclick="document.getElementById('modal-space').style.display='none'" class="close" title="Close Modal">X</span>
                <div id="modal">
                    <div class="event-details">
                        <h1>Title</h1>
                        
                        <p>
                            <img src="/images/demo_images/event_demo.png"/>
                            This is event detail text. Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim minim veniam, 
                            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu 
                            fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui 
                            officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim minim veniam, 
                            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu 
                            fugiat nulla pariatur. 
                            <br><br>
                            This is event detail text. Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim minim veniam, 
                            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu 
                            fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui 
                            officia deserunt mollit anim id est laborum. Ut enim minim veniam, 
                            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu 
                            fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui 
                            officia deserunt mollit anim id est laborum. 
                        </p>
                    </div>
                    <button>Sign up</button>
                </div>
            </section>
        </main>
    </body>
    <script>
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(getEvents);
        } else {
            console.log("Geolocation is not supported by this browser.");
        }
        
        function getEvents(position) {
            document.getElementById("lat-lon").innerHTML =  
            "Searching for organizations near lat: " + position.coords.latitude +
            " & lon: " + position.coords.longitude;

            //call controller function that calls python method for pledgeAPI
        } 
        
    </script>
    <!--<footer th:replace="~{/fragments/footer :: footer}"></footer>-->
</html>