<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Donate</title>
        <link
            href="https://fonts.googleapis.com/css2?family=Cutive&display=swap"
            rel="stylesheet"
        />
        <link href="https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@100..800&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" th:href="@{/css/events.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/css/landing-page.css}"/>
        <link rel="stylesheet" type="text/css" th:href="@{/css/donate.css}"/>
        <script th:src = "@{/js/coords.js}" defer></script>
    </head>
    <header th:replace="~{/fragments/header :: header}"></header>
        <main>
            <h1>Donate to a Good Cause</h1>
            <p class="message">Click an organization to learn more and donate!</p>

            <div class="card-container">
               <!-- <div class="card">
                    <img class="card-img" th:src="${orgs.get(0).logo_url}"/>
                    <h2 onclick="document.getElementById('modal-space').style.display='block'" data-th-text="${orgs.get(0).name}"></h2>
                   </p>
               </div> -->
           </div>
           <div id="modal-space">
               <span onclick="document.getElementById('modal-space').style.display='none'" class="close" title="Close Modal">X</span>
               <div id="modal">
                   <div class="card-details">
                        <!-- <h1 th:text="${orgs.get(0).name}"></h1>
                        <p th:text="${orgs.get(0).mission}"></p> -->
                        <h1 id="modal-title"></h1>
                        <p id="modal-description"></p>
                    </div>
                    <form>
                        Amount donating<br>
                        Credit card info<br>
                        <button>Donate</button>
                    </form>
                </div>
            </div>
        </main>

    <footer th:replace="~{/fragments/footer :: footer}"></footer>
    </body>
</html>