<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Static Page</title>
    <link rel="stylesheet" href="../templates/styles/landing-page.css">
    <link href="https://fonts.googleapis.com/css2?family=American+Typewriter&display=swap" rel="stylesheet">

</head>
<body>
<header>
    <nav>
        <div>
            <a href="#">link 1</a>
            <a href="#">link 2</a>
        </div>
        <img src="../../bee_logo.png" alt="Placeholder Image">
        <div>
            <a href="#">link 3</a>
            <a href="#">link 4</a>
        </div>
    </nav>
    <!--<nav>
        <ul>
            <li><a href="#">Link 1</a></li>
            <li><a href="#">Link 2</a></li>
            <li><a href="#">Link 3</a></li>
            <li><a href="#">Link 4</a></li>
            <li><a href="#">Link 5</a></li>
        </ul>
    </nav>-->
</header>

<main>
    <section class="button-section">
        <div class="text-container">
            <h1>Welcome to Helper Hive!</h1>
            <p> Helper Hive is an application that makes connecting volunteers and organizations simple. </p>
            <br>
            <div class="buttons">
                <button class="small-btn gold-btn">Sign Up</button>
                <button class="small-btn gold-otln"> Our Work</button>
            </div>
            <div class="large-button-container">
                <button class="large-btn"><span>Log In</span></button>
            </div>
        </div>
    </section>
</main>

</body>
</html>
