<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> LeaderBoard</title>

    <link rel="stylesheet" type="text/css" th:href="@{/css/leaderboard.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bg.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/donations-page.css}"/>
    <link
          href="https://fonts.googleapis.com/css2?family=Cutive&display=swap"
          rel="stylesheet"
    />
</head>

<body>
<!-- Header Fragment -->
<header th:replace="~{fragments/header :: header}"></header>

<main>
    <section class="button-section">
        <div class="text-container">
            <p id="lat-lon"></p>
            <h1> Our Donations Programs</h1>
            <p class="message">
                    We would like to thank everyone for such generous donations! With your help, we are able to
                    make this service possible. Below you can find our donation leaderboard.</p>
        </div>
    </section>
</main>

<!-- This will connect to the  users and display the donations ranking-->
<section id="scrims-ladder--container" class="scrimms-ladder">
    <div class="ladder-nav">
        <div class="ladder-nav--col ladder-title">
            <h1>Donations Standings</h1>
        </div>
    </div>

    <table class="donations-table">
        <thead>
            <tr>
                <th>Rank</th>
                <th>Donation Name</th>
                <th>Amount</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="i : ${#numbers.sequence(1, leaderboard.size())}">
                <!--                                    th:classappend="${i == 1} ? 'first-place' :-->
                <!--                                                       ${i == 2} ? 'second-place' :-->
                <!--                                                       ${i == 3} ? 'third-place' : ''">-->
                <td>
                    <span th:text="${i}"></span>
                    <!-- Badge for 1st place -->
                    <img th:if="${i == 1}" src="/images/leaderbord_badges/1st-prize.png" alt="1st Place" class="badge"/>
                    <!-- Badge for 2nd place -->
                    <img th:if="${i == 2}" src="/images/leaderbord_badges/2nd-place.png" alt="2nd Place" class="badge"/>
                    <!-- Badge for 3rd place -->
                    <img th:if="${i == 3}" src="/images/leaderbord_badges/3rd-place.png" alt="3rd Place" class="badge"/>
                </td>

                <!--<td data-th-text="${i}"> </td>-->
                <td data-th-text="${leaderboard.get(i-1).donationName}"></td>
                <td data-th-text="${leaderboard.get(i-1).amount}"></td>
            </tr>
        </tbody>
    </table>
</section>
<div th:replace="~{fragments/chatbot :: chatbot}"></div>

</body>
<footer th:replace="~{fragments/footer :: footer}"></footer>
</html>