<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Static Page</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/landing-page.css}"/>
    <link
          href="https://fonts.googleapis.com/css2?family=Cutive&display=swap"
          rel="stylesheet"
    />
</head>
<body>


<header th:replace="~{/fragments/header :: header}"></header>

<main>
    <section class="button-section">
        <div class="text-container">
            <h1>Leaderboards</h1>
            <p> Here you will be able to find our Leaderboards! </p> 
                </div>
                 <img src="../static/images/demo_images/volunteer_leaderboard_demo.PNG" alt="Placeholder Image">
            <div>
            <!-- <br>
            <div class="buttons">
                <button class="small-btn gold-btn">Sign Up</button>
                <button class="small-btn gold-otln"> Our Work</button>
            </div>
            <div class="large-button-container">
                <button class="large-btn"><span>Log In</span></button>
            </div>
        </div> -->
    </section>
</main>

</body>
</html>
