<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Lag In</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/landing-page.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/log-in.css}"/>
    <link
            href="https://fonts.googleapis.com/css2?family=Cutive&display=swap"
            rel="stylesheet"
    />
</head>

<body>
<header th:replace="~{/fragments/header :: header}"></header>

</body>
</html>