<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Events</title>
        
        <link
            href="https://fonts.googleapis.com/css2?family=Cutive&display=swap"
            rel="stylesheet"
        />
        <script src="https://unpkg.com/@popperjs/core@2/dist/umd/popper.js"></script>
        <link href="https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@100..800&display=swap" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
                crossorigin="anonymous"></script>
        <link rel="stylesheet" type="text/css" th:href="@{/css/events.css}">
        <script th:src="@{/js/coords.js}" defer></script>
        <script th:src="@{/js/events.js}" defer></script>
    </head>
    <body>
        <!-- Header Fragment -->
        <header th:replace="~{fragments/header :: header}"></header>

        <main>            

            <section class="button-section">
                <div class="text-container">
                    <p class="message">
                        Need help locating events? Search using the map <a th:href="@{/maps}">here</a>!
                    </p>
                </div>
                <div class="text-container form-check">
                    <div>
                        <div class="sortBy">
                            <div class="form-check">
                                
                                <label for="nearMe">
                                    <input type="checkbox" id="nearMe"/>
                                    Find events near me
                                </label>
                            </div>
                            <div class="form-check">
                                <label for="comingUp" >
                                    <input type="checkbox" id="comingUp"/>
                                    Find events coming up
                                </label>
                            </div>
                        </div>
                        <div class="dropdown filters">
                            <button id="causesFilter" type="button" class="dropdown-toggle allow-focus" data-toggle="dropdown" >Causes</button>
                            <ul class="dropdown-menu checkbox-menu allow-focus focus" aria-labelledby="causesFilter">
                                <li th:each="cause : ${causes}">
                                    <label th:for="${cause.id}">
                                        <input type="checkbox" class="form-check-input filterCheckbox" th:id="${cause.id}" th:text="${cause.title}" />
                                    </label>
                                </li>
                            </ul>
                            <button id="filterBtn">Filter</button>
                        </div>
                    </div>
                    
                </div>
            </section>

            <!-- Container for Event cards -->
            <div class="event-container">
                <div th:each="event : ${event_list}" class="event">
                    <!-- Event Image or Placeholder -->
                    <div th:if="${event.imagePath == null or event.imagePath.isEmpty()}" class="image-placeholder"></div>
                    <img th:unless="${event.imagePath == null or event.imagePath.isEmpty()}" 
                        th:src="@{${event.imagePath}}" 
                        th:alt="${event.title}" 
                        class="event-img">

                    <!-- Event Title -->
                    <h2 th:text="${event.title}"></h2>

                    <!-- Event Details -->
                    <div class="event-details">
                        <p th:text="'Location: ' + ${event.location}"></p>
                        <p th:text="'Date: ' + ${event.eventDate.toString().substring(0,10)}"></p>
                        <p th:text="'Volunteer Hours: ' + ${event.volunteerHours}"></p>
                        <p class="Organization" th:text="'Organization: ' + ${event.organization.organizationName}"></p>
                    </div>

                    <!-- View More Button -->
                    <a class="btn-view-more" th:href="@{/events/view/{event_id}(event_id=${event.eventId})}">View More</a>
                </div>
            </div>

            &nbsp;
            
            <div sec:authorize="hasAnyAuthority('Admin', 'OrganizationRepresentative')">
                <section class="button-section">
                    <div class="text-container">
                        <p class="message">
                            Have a cause to share? Create a new event <a th:href="@{/events/new}">here</a>!
                        </p>
                    </div>
                </section>
            </div>
        </main>

        <div th:replace="~{fragments/chatbot :: chatbot}"></div>

    </body>
    <!-- <script>
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(getEvents);
        } else {
            console.log("Geolocation is not supported by this browser.");
        }
        
        function getEvents(position) {
            document.getElementById("lat-lon").innerHTML =  
            "Searching for events near lat: " + position.coords.latitude +
            " & lon: " + position.coords.longitude;

            //call controller function that calls python method for pledgeAPI
        } 
        
    </script> -->
    <footer th:replace="~{fragments/footer :: footer}"></footer>
</html>